// Place all the styles related to the Rpgs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.building{
    width:250px;
    border: 2px solid black; 
    height:250px; 
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    text-align: center
}