<%
=begin%>
 <h1>
    <% @users.each do |user| %>
    <ul>
        <li> <%= user.first_name %> </li>
    </ul>
    <% end %>
</h1> 
<%
=end%>

<h1> <%= @user.first_name %> </h1>
<h1>YAYY IT WORKS... pick up here when u wake up</h1>